body {
    background-color: #b5b8b6;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5b8b6;
    color: black;
    border: 10px solid #b5b8b6;
    padding: 10px;
    margin: 10px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5b8b6;
    color: black;
    border: 10px solid #b5b8b6;
    padding: 10px;
    margin: 10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5b8b6;
    color: black;
    border: 10px solid #b5b8b6;
    padding: 15px;
    margin: 25px;
}
a:link {
    background-color: #b5b8b6;
    color: black;
    text-decoration: none;
    border: 2px solid #b5b8b6;
    padding: 3px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a:visited {
    background-color: #b5b8b6;
    color: black;
    text-decoration: none;
    border: 10px solid #b5b8b6;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a:hover {
    background-color: #b5b8b6;
    color: darkslategray;
    text-decoration: none;
    border: 10px solid #b5b8b6;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
a:active {
    background-color: #b5b8b6;
    color: darkslategray;
    text-decoration: none;
    border: 10px solid #b5b8b6;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: fit-content;
}